span.span-in-line{
    display: table-cell;
    padding: 5px;
}

.terms-text {
    font-size: 0.6rem;
    line-height: initial;
    text-align: justify;
}

.in-line-button{
    display: inline !important;
    margin-right: 10px;
}